body {
	margin : 0px;
}

* {
	font-family : cursive;
}

#windowDiv {
	position : relative;
}

#headerDiv {
	position : relative;
	text-align : center;
	height : 20%;
	width : 100%;
}

#headerText {
	position : relative;
	font-size : 30px;
}

#nameHeader {
	position : relative;
	text-align : center;
	font-size : 1.2em;
	margin-top : 2%;
	margin-bottom : 3%;
}

#createDiv, #chooseDiv, #showDiv, #logoutDiv {
	position : relative;
}

#createText, #chooseText, #showText, #logoutText {
	position : relative;
}

.activeTxt:hover {
	color : blue;
}

.activeTxt:active {
	color : #FF6600;
}

#modalBackground {
	position : absolute;

	top : 0;
	left : 0;
	width : 100%;
	height : 100%;

	background-color : grey;
	opacity : 0.5;
}

#modalDialog {
	position : absolute;

	background-color : white;
	border-radius : 5px;
}

#modalTable {
	position : relative;
}

td {
	text-align : center;
}

#infoTd {
	color : red;
}